{% extends '::layoutEmail.email.twig' %}

{% block body_html_content %}
	<td valign="middle" style="width:430px; padding:10px; font-family:Arial, Helvetica, sans-serif; font-size:14px;">
	    <p style="margin-top:10px;margin-bottom:10px;">Bonjour {{ user.firstname }},</p>
	    <p style="margin-top:10px;margin-bottom:10px;">
            <br><br>Cliquer sur le lien pour valider votre compte :
        </p>

        <table>
            <tr>
                <td>Lien</td>
                <td>:</td>
                <td><a href="{{ link }}" title="Cliquez-ici">Valider compte</a></td>
            </tr>
        </table>

        <p style="margin-top:10px;margin-bottom:10px;"><br><br>Merci</p>
	</td>
{% endblock %}

{% block body_html_footer_action %}
{% endblock %}