/web/bundles/
/web/media/
/web/upload/
/web/config.php
/app/config/parameters.yml
/app/phpunit.xml
/build/
/vendor/
/bin/
/bin/symfony_requirements
composer.phar
composer.lock
.idea
/var/bootstrap.php.cache
/var/cache/
/var/logs/
/var/sessions/
/var/SymfonyRequirements.php
/bin
/web/reporting/generated/carte_visite/1NPV.docx
/web/reporting/generated/bordereau/
/web/reporting/generated/reception/duplicata/
/web/reporting/generated/reception/feuille_de_caisse/
/web/reporting/generated/reception/fiche_controle/
/web/reporting/generated/reception/pv/
/web/reporting/generated/reception/statistique/
/web/reporting/generated/constatation/